:root {
  /* --first-color: #bdbcbc;
  --second-color: #505050;
  --third-color: #e95a5a;
  --fourth-color: #ca3e47; */

  /* --first-color: #e4fdff;
  --second-color: #7ec4dd; */
  --first-color: #fdc1c1;
  --second-color: #e36387;

  --text-primary: var(--first-color);
  --bg-primary: var(--second-color);

  --text-secondary: var(--third-color);
  --bg-secondary: var(--fourth-color);

  --nav-bg: var(--second-color);

  --mobile-icon: var(--first-color);
  --avatar-border: var(--first-color);

  --body-bg: var(--second-color);
  --main-bg: var(--first-color);

  --sidenav-bg: var(--first-color);
  --sidenav-text: var(--second-color);
  --sidenav-icon-hovered: var(--fourth-color);
}

/* 
  --first-color: rgba(0, 0, 92, 1);
  --second-color: rgba(106, 9, 125, 1);
  --third-color: rgba(192, 96, 161, 1);
  --fourth-color: rgba(255, 220, 180, 1);
*/

html {
  font-size: 14px;
}

body {
  font-family: "Lato", sans-serif;
  /* background-color: var(--body-bg); */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
